{% extends 'base.html.twig' %}

{% block body %}

        <div id="main" class="clearfix">
            <div class="test">Test de développement</div>

            <div id="content-left">
                <form method="post" action="?" class="newsletter-form rounded">
                    <h2>La newsletter</h2>
                    <p>L'actu et les bonnes affaires à ne pas manquer</p>
                    <fieldset class="clearfix">
                        <input type="text" value="Votre adresse e-mail" name="email" class="autoclear" /><button type="submit"><span>OK</span></button>
                    </fieldset>
                </form>

             <div class="news-list">
                 <ul>
                     <li class="clearfix">
                         <a href="#"><img src="img/sample/news-1.jpg" alt="News 1" width="160" height="140" /></a>
                         <h3><a href="#"><span class="bullet">&bull;</span> Blog CRM</a></h3>
                         <em>25/05/2010</em>
                         <a href="#" class="more">En savoir plus >></a>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                     </li>
                     <li class="clearfix">
                         <a href="#"><img src="img/sample/news-2.jpg" alt="News 2" width="160" height="140" /></a>
                         <h3><a href="#"><span class="bullet">&bull;</span> Altima sur iPhone</a></h3>
                         <em>20/04/2010</em>
                         <a href="#" class="more">En savoir plus >></a>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                     </li>
                     <li class="clearfix noborder">
                         <a href="#"><img src="img/sample/news-3.jpg" alt="News 3" width="160" height="140" /></a>
                         <h3><a href="#"><span class="bullet">&bull;</span> Altima déménage</a></h3>
                         <em>12/04/2010</em>
                         <a href="#" class="more">En savoir plus >></a>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                     </li>
                 </ul>
                 <a href="#" class="button">Voir toutes les actualités</a>
             </div>
        </div>

        <div id="content-right">
            <div class="contact-form rounded">
                <h2>Contactez-nous par téléphone ou par mail</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <p class="phone">03 28 330 830</p>
                <form method="post" action="?">
                    <ul>
                        <li class="clearfix">
                            <label for="lastname">Nom * :</label>
                            <input type="text" id="lastname" name="lastname" />
                        </li>
                        <li class="clearfix">
                            <label for="firstname">Prénom * :</label>
                            <input type="text" id="firstname" name="firstname" />
                        </li>
                        <li class="clearfix">
                            <label for="email">Adresse e-mail * :</label>
                            <input type="text" id="email" name="email" />
                        </li>
                        <li class="clearfix">
                            <label for="object">Objet du message * :</label>
                            <select id="object" name="object">
                                <option></option>
                                <option>Demande de renseignement</option>
                                <option>Recrutement</option>
                                <option>Autre</option>
                            </select>
                        </li>
                        <li class="clearfix">
                            <label for="message">Message :</label>
                            <textarea id="message" name="message"></textarea>
                            <p class="align-right">* Champs obligatoires</p>
                        </li>
                        <li class="align-right ">
                            <button type="submit"><span>Envoyer</span></button>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="paragraphs rounded box">
                <h2><span class="bullet">&bull;</span> Les paragraphes</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing. <br /> Lorem Ipsum passages, and more recently with desktop publishing.</p>
            </div>
        </div>

        <div id="content-bottom">
            <div class="last-news">
                <h2>Découvrez les dernières nouveautés</h2>
                <div class="slider-container">
                    <div class="slider">
                        <ul class="items">
                            <li>
                                <a href="#"><img src="http://lorempixel.com/186/136/nature/1" alt="Slide 1" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://lorempixel.com/186/136/nature/2" alt="Slide 1" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://lorempixel.com/186/136/nature/3" alt="Slide 1" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://lorempixel.com/186/136/nature/4" alt="Slide 1" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://lorempixel.com/186/136/nature/5" alt="Slide 1" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://lorempixel.com/186/136/nature/6" alt="Slide 1" /></a>
                            </li>
                        </ul>
                    </div>
                    <span><a href="javascript:void(0);" class="prev">Précédent</a></span>
                    <span><a href="javascript:void(0);" class="next">Suivant</a></span>
                </div>
            </div>
            <div class="accordion">
                <ul>
                    <li>
                        <div class="accordion-title">
                            <h3>What is Lorem Ipsum?</h3>
                        </div>
                        <div class="pane">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br />
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br />
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p class="align-right">
                                <a href="#">Lire la suite >></a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h3>Where does it come from?</h3>
                        </div>
                        <div class="pane">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br />
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br />
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p class="align-right">
                                <a href="#">Lire la suite >></a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                                <h3>Why do we use it?</h3>
                        </div>
                        <div class="pane">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br />
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br />
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p class="align-right">
                                <a href="#">Lire la suite >></a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}